In [24]:
#Dependencies
import pandas as pd

In [25]:
#Define path for reading csv
file = 'HeroesOfPymoli/Resources/purchase_data.csv'

In [26]:
#Reading csv file and setting to a new df
purchase_df = pd.read_csv(file)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [27]:
#Player Count

#create a new dataframe
player_count_df = pd.DataFrame()

#perform a unique count on the 'SN' and create a new variable
player_count = purchase_df['SN'].nunique()
player_count_df['Total Players'] = [player_count]

#display results
player_count_df

   Total Players
0            576

In [38]:
#Purchasing Analysis (Total)

#create a new dataframe
summary_df = pd.DataFrame()

#calculations
unique_items = purchase_df['Item ID'].nunique()
avg_price = purchase_df['Price'].mean()
num_purchases = purchase_df['Purchase ID'].count()
revenue = purchase_df['Price'].sum()

#Summary Table
summary_df['Number of Unique Items'] = [unique_items]
summary_df['Average Price'] = [avg_price]
summary_df['Number of Purchases'] = [num_purchases]
summary_df['Total Revenue'] = [revenue]

#format $$ columns
summary_df['Average Price'] = summary_df['Average Price'].map("${:.2f}".format)
summary_df['Total Revenue'] = summary_df['Total Revenue'].map("${:.2f}".format)

#display summary df
summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77