In [96]:
#Dependencies
import pandas as pd

In [97]:
#Define path for reading csv
file = 'HeroesOfPymoli/Resources/purchase_data.csv'

In [98]:
#Reading csv file and setting to a new df
purchase_df = pd.read_csv(file)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [99]:
#Player Count

#create a new dataframe
player_count_df = pd.DataFrame()

#perform a unique count on the 'SN' and create a new variable
player_count = purchase_df['SN'].nunique()
player_count_df['Total Players'] = [player_count]

#display results
player_count_df

   Total Players
0            576

In [100]:
#Purchasing Analysis (Total)

#create a new dataframe
summary_df = pd.DataFrame()

#calculations
unique_items = purchase_df['Item ID'].nunique()
avg_price = purchase_df['Price'].mean()
num_purchases = purchase_df['Purchase ID'].count()
revenue = purchase_df['Price'].sum()

#Summary Table
summary_df['Number of Unique Items'] = [unique_items]
summary_df['Average Price'] = [avg_price]
summary_df['Number of Purchases'] = [num_purchases]
summary_df['Total Revenue'] = [revenue]

#format $$ columns
summary_df['Average Price'] = summary_df['Average Price'].map("${:.2f}".format)
summary_df['Total Revenue'] = summary_df['Total Revenue'].map("${:.2f}".format)

#display summary df
summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [101]:
#Gender Demographics

#create a new dataframe
gender_df = purchase_df[['Gender','Purchase ID', 'SN', 'Age', 'Item ID', 'Item Name', 'Price']]

gender_group = gender_df.groupby(["Gender"])

#calculations 
gender_count = gender_group['SN'].nunique()
gender_perc = (gender_count / player_count) * 100

#gender_demo_summary
gender_demo_df = pd.DataFrame({"Total Count": gender_count,
                                  "Percentage of Players": gender_perc})

#Formatting
gender_demo_df['Percentage of Players'] = gender_demo_df['Percentage of Players'].map("{:.2f}%".format)
sort_gender_demo_df = gender_demo_df.sort_values(by=['Total Count'], ascending=False)
sort_gender_demo_df.index.name = None

#display gender demo summary
sort_gender_demo_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [102]:
#Purchasing Analysis (Gender)

#calculations 
g_purchase_count = gender_group['Purchase ID'].count()
g_avg_perchase_price = gender_group['Price'].mean()
g_tot_purchase_value = gender_group['Price'].sum()
g_avg_tot_purchase_per = g_tot_purchase_value / gender_count

#gender purchasing analysis summary
g_summary_df = pd.DataFrame({"Purchase Count":g_purchase_count,
                                "Average Purchase Price": g_avg_perchase_price,
                                "Total Purchase Value": g_tot_purchase_value,
                                "Avg Total Purchase per Person": g_avg_tot_purchase_per})

#formatting
g_summary_df['Average Purchase Price'] = g_summary_df['Average Purchase Price'].map("${:.2f}".format)
g_summary_df['Total Purchase Value'] = g_summary_df['Total Purchase Value'].map("${:,.2f}".format)
g_summary_df['Avg Total Purchase per Person'] = g_summary_df['Avg Total Purchase per Person'].map("${:.2f}".format)

#display gender summary
g_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [103]:
#Age Demographics
age_df = purchase_df

#bins
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]
#labels
age_groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]


#Add the age groups to a column within the df
age_df["Age Group"] = pd.cut(purchase_df["Age"], age_bins, labels=age_groups)
age_group = age_df.groupby("Age Group")

#calculations
age_total_count = age_group['SN'].nunique()
age_perc_players = (age_total_count / player_count)*100

#age demo summary
age_demo_df = pd.DataFrame({"Total Count": age_total_count,
                               "Percentage of Players": age_perc_players})

#formatting
age_demo_df['Percentage of Players'] = age_demo_df['Percentage of Players'].map("{:.2f}%".format)
age_demo_df.index.name = None

#display age demo summary
age_demo_df

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%